doctype html
html(lang="en")
  head
    include includes/_config.pug
    include includes/_head.pug

    meta(property="og:url" content=baseUrl)
    meta(property="og:image" content=`${baseUrl}/img/og/og.jpg`)
    //- 網頁描述
    meta(property="og:description" content=description)
    meta(name="description" content=description)

    meta(property="og:title" content=title)
    title #{title}

  body
    include includes/_navbar.pug

    header.l-header(data-aos="fade")
      .swiper.l-header__swiper
        .swiper-wrapper
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img01.jpg" alt="大港開唱")
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img02.jpg" alt="大港開唱")
          .swiper-slide.l-header__slide
            .l-header__img-mask
              img.u-object-fit(src="img/banner/banner-img03.jpg" alt="大港開唱")


    main.l-main
      section.u-pb-0.l-lineup
        include mixins/_blockade.pug
        +blockade('l-lineup__blockade')

        .l-lineup__sticky
          .container
            .u-mb-100(data-aos="fade-up")
              h2.u-title-xl.u-color-secondary LINEUP
                span.u-text-lg MEGAPORT FESTIVAL
            .row.--gutter.l-lineup__box.js-parallax(data-input-element=".l-lineup")

              //- mixin artistCard(options)
              //-   article.l-lineup__artist(class=`${options.size ? `--${options.size}` : ''}`)
              //-     a.l-lineup__link(href="##" class=`${options.direction ? `--${options.direction}` : ''}`)
              //-       h3.u-title-md.u-mb-10 #{options.name}
              //-       //- scalar(10) 設置加速度 / friction(0-1) 設置過渡
              //-       .js-parallax(data-scalar-y="0" data-friction-x="0.4")
              //-         //- 原圖
              //-         .l-lineup__img-mask
              //-           img.u-object-fit.--abs(src=options.img alt=`大港開唱藝人名單 ${options.name}`)
              //-         //- primary
              //-         .l-lineup__glitch-mask.--primary(data-depth="0.2")
              //-           img.u-object-fit.--abs(src=options.img alt=`大港開唱藝人名單 ${options.name}`)
              //-         //- secondary
              //-         .l-lineup__glitch-mask.--secondary(data-depth="-0.2")
              //-           img.u-object-fit.--abs(src=options.img alt=`大港開唱藝人名單 ${options.name}`)
            
              include mixins/_artistCard.pug

              .col-sm-5.l-lineup__wrap(data-depth="0.1")
                +artistCard({
                  name: '9m88',
                  img: 'img/lineup/lineup01.jpg',
                  direction: '',
                  size: ''
                })
                      
              .col-sm-7.l-lineup__wrap(data-depth="-0.1")
                +artistCard({
                  name: '恆月三途',
                  img: 'img/lineup/lineup02.jpg',
                  direction: '',
                  size: 'lg'
                })
                
              .col-lg-4.col-sm-7.l-lineup__wrap(data-depth="-0.2")
                +artistCard({
                  name: 'Beyound Cure',
                  img: 'img/lineup/lineup03.jpg',
                  direction: 'reverse',
                  size: 'lg'
                })

              .col-lg-4.col-sm-5.l-lineup__wrap(data-depth="0.2")
                +artistCard({
                  name: 'Dudu King',
                  img: 'img/lineup/lineup04.jpg',
                  direction: 'reverse',
                  size: ''
                })

              .col-lg-4.col-sm-5.offset-lg-0.offset-sm-3.l-lineup__wrap(data-depth="-0.2")
                +artistCard({
                  name: 'Da Wang',
                  img: 'img/lineup/lineup05.jpg',
                  direction: 'reverse',
                  size: ''
                })

      section#news.l-news
        .l-news__btn-swiper.--prev
          i.fas.fa-arrow-left
        .l-news__btn-swiper.--next
          i.fas.fa-arrow-right

        .container
          .u-mb-100.u-text-center(data-aos="fade-up")
            h2.u-title-xl.u-color-secondary NEWS
              span.u-text-lg MEGAPORT FESTIVAL

          .swiper.l-news__swiper(data-aos="fade-up")
            .swiper-wrapper
              mixin newsCardSlide(item)
                .swiper-slide.l-news__slide
                  article.c-card
                    span.u-text-lg.u-fw-900.c-card__date #{item.date}
                    .c-card__wrap
                      a.c-card__img-mask(href=item.link)
                        img.u-object-fit.--abs.js-lazy(data-src=item.img, alt=item.title)
                      .c-card__body
                        h3.u-text-md #{item.title}
                        p.c-card__desc #{item.content}
                        .o-btn.--right.u-mt-auto
                          a.o-btn__link(href=item.link) MORE
              -
                const newsList = [
                  {
                    date: '2021.04.12',
                    title: '大港 防疫公告！',
                    content: '【入場需先填寫 Line 實聯制問卷才能兌換手環】 如何填寫實聯制...',
                    img: 'img/news/news01.jpg',
                    link: '##'
                  },
                  {
                    date: '2021.05.10',
                    title: '金牌台啤x大港開唱 聯名限定上市',
                    content: 'Untitled Document 為在地音樂乾一杯！ 金牌台啤x大港開唱聯名啤酒限定上市 高雄最具代表性的大型音樂...',
                    img: 'img/news/news02.jpg',
                    link: '##'
                  },
                  {
                    date: '2021.05.24',
                    title: '大港開唱 x MegaFun',
                    content: '✧ 好耍 ✧趣味 ✧足歡喜 大港娛樂特區MegaFun全方位手冊 . ** MEGADIVE 孤枝大夫 ** 輕鬆享受人體衝浪支...',
                    img: 'img/news/news03.jpg',
                    link: '##'
                  },
                  {
                    date: '2021.06.17',
                    title: '大港帥口罩',
                    content: '想要這個大港口罩嗎？填寫實聯制問卷就送給你 #只送不賣 #有大港單雙日票券者才可兌換...',
                    img: 'img/news/news04.jpg',
                    link: '##'
                  },
                  {
                    date: '2021.06.22',
                    title: '官方周邊 正式公佈！',
                    content: '敲破碗的大港周邊這不就來了嗎 . 定番款大港毛巾必收 漁夫帽門簾與工作衫首次登場 超搶眼...',
                    img: 'img/news/news05.jpg',
                    link: '##'
                  },
                  {
                    date: '2021.07.10',
                    title: '大港線上直播 來囉！',
                    content: '沒買到大港票的朋朋，線上直播來啦 . 大港開唱與LINE TODAY獨家合作 #南霸天、 #女神龍...',
                    img: 'img/news/news06.jpg',
                    link: '##'
                  }
                ]
              - for (let i = 0; i < newsList.length; i++)
                +newsCardSlide(newsList[i])

      .l-about.u-gradient
        section.u-pb-0
          .container
            .u-mb-100(data-aos="fade-right")
              h2.u-title-xl.u-color-secondary ABOUT
                span.u-text-lg MEGAPORT FESTIVAL

        section.u-pl-0.u-pt-0
          .container.--left
            .row
              .col-md-7.order-md-0.order-2(data-aos="fade-right")
                .l-about__img-mask
                  .l-about__img(uk-parallax="bgy: -200")
              .col-md-5.order-md-0.order-1
                .l-about__content-wrap
                  .l-about__content.u-mb-60(data-aos="fade-up")
                    h3.u-title.u-mb-20 2022 年即將邁入第十三屆的《大港開唱》
                    p.u-fw-500 每年三月於高雄舉辦的大型音樂祭典，受到全台灣及日本香港年輕觀眾的喜愛，近年已成為台灣最具指標性的大型戶外音樂祭活動。
                  .l-about__content(data-aos="fade-up")
                    h3.u-title.u-mb-20 「人生」與「音樂」
                    p.u-fw-500 大港舉辦在高雄港邊，獨特的海港地景和人文風情，常勾起人生中各種酸甜苦辣的回憶。也因如此，大港總是邀請有著豐富人生歷程的知名藝人及業界前輩演出，也會與新一代的樂團或藝人一起合作演出，交融出世代之間的化學效應，往往成為當年度為人津津樂道的經典現場...
                  .o-btn.--right.u-mt-60(data-aos="fade-up")
                    a.o-btn__link(href="##") MORE

    include includes/_footer.pug

    script(src="js/swiper-bundle.min.js")
    script.
      const mySwiper = new Swiper('.l-header__swiper', {
        effect: 'fade',
        loop: true,
        // 拖動換頁的幅度
        longSwipesRatio: 0.1,
        // 類似 transition-duration
        speed: 1600,
        autoplay: {
          delay: 3000,
          // false => 用手托動換頁之後，還是會持續 autoplay
          disableOnInteraction: false,
        }
      })

      const newsCardSwiper = new Swiper('.l-news__swiper', {
        loop: true,
        longSwipesRatio: 0.1,
        speed: 1200,
        // 最後的樣子
        slidesPerView: 'auto',
        spaceBetween: 4,
        breakpoints: {
          1400: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 20,
          },
          576: {
            slidesPerView: 2,
            spaceBetween: 15,
          }
        },
        navigation: {
          nextEl: '.l-news__btn-swiper.--next',
          prevEl: '.l-news__btn-swiper.--prev',
        },
      })

    
    script(src="js/parallax.min.js")
    include includes/_scripts.pug